* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    text-align: center;
    margin: auto;
    background-image: url(/images/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #ffdb6e;
}

h1 {
    font-size: 0;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header #logo {
    width: 365px;
    height: 120px;
    background-image: url(images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

header #menu {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: end;
}

header #menu ul {
    display: flex;
    gap: 50px;
}

header #menu ul li {
    display: flex;
}

header #menu ul li a {
    font-size: 20px;
    font-weight: bolder;
    padding-top: 85px;
    width: 75px;
    background-image: url("images/descargabyn2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

header #menu ul a:hover {
    background-image: url("images/descargacolor2.png");
    background-repeat: no-repeat;
    
}


#home {
    width: 100%;
    height: 82vh;
    background-image: url(images/home.jpg);
    background-size: cover;
    
}

#seccion1 {
    margin: auto;
    background-color: rgba(185, 185, 185, 0.404);
}

#home {
    text-align: end;
}

#home a {
    display: block;
    padding-top: 450px;
    padding-bottom: 30px;
    margin-right: 25px;
    font-size: 20px;
}

#seccion1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 100vh;
}

#seccion1 #texto h2 {
    font-size: 45px;
}

#seccion1 #texto {
    background-color: rgba(255, 255, 255, 0.822);
    border-radius: 12px;
    font-size: 18px;
}

#seccion1 #texto div h2 {
    margin-bottom: 30px;
}

#seccion1 #texto p {
    margin-bottom: 20px;
}

#seccion1 #texto a {
    display: block;
    margin: auto;
    background-color: #e62429;
    border-radius: 8px 0px;
    width: 90px;
}




#seccion2 {
    margin: auto;
    background-color: rgba(185, 185, 185, 0.404);
}

#home {
    text-align: end;
}

#home a {
    display: block;
    padding-top: 450px;
    padding-bottom: 30px;
    margin-right: 25px;
    font-size: 20px;
}

#seccion2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 100vh;
}

#seccion2 #texto h2 {
    font-size: 45px;
}

#seccion2 #texto {
    background-color: rgba(255, 255, 255, 0.822);
    border-radius: 12px;
    font-size: 18px;
}

#seccion2 #texto div h2 {
    margin-bottom: 30px;
}

#seccion2 #texto p {
    margin-bottom: 20px;
}

#seccion2 #texto a {
    display: block;
    margin: auto;
    background-color: #e62429;
    border-radius: 8px 0px;
    width: 90px;
}

123 {
    
}






